{% extends "accounts/base.html" %}

{% block title %}회원가입 완료 | Openshelf{% endblock %}

{% block auth_header %}
<h3>회원가입 완료</h3>
<p>입력한 이메일로 인증 메일을 보냈습니다.</p>
<p>메일함에서 인증 링크를 눌러 가입을 완료하세요.</p>
{% endblock %}

{% block auth_body %}
<p>메일을 받지 못하셨나요?</p>
<a href="{% url 'accounts:resend_verification' %}" class="btn btn-primary auth-submit"
    style="display: flex; justify-content: center;">
    {% csrf_token %}
    인증 메일 재발송
</a>
{% endblock %}

{% block auth_footer %}
<p>
    <a href="{% url 'accounts:login' %}">로그인 페이지로 이동</a>
</p>
{% endblock %}